In [3]:
import pandas as pd
import seaborn as sns
sns.set(color_codes=True)

Matplotlib is building the font cache; this may take a moment.

In [4]:
crops = pd.read_csv('crop_production.csv')

In [5]:
crops.head()

  LOCATION  INDICATOR SUBJECT   MEASURE FREQUENCY  TIME     Value  Flag Codes
0      AUS  CROPYIELD    RICE  TONNE_HA         A  1990  8.314607         NaN
1      AUS  CROPYIELD    RICE  TONNE_HA         A  1991  8.394737         NaN
2      AUS  CROPYIELD    RICE  TONNE_HA         A  1992  8.094340         NaN
3      AUS  CROPYIELD    RICE  TONNE_HA         A  1993  8.336000         NaN
4      AUS  CROPYIELD    RICE  TONNE_HA         A  1994  8.537815         NaN

In [7]:
crops.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20566 entries, 0 to 20565
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   LOCATION    20566 non-null  object
 1   INDICATOR   20566 non-null  object
 2   SUBJECT     20566 non-null  object
 3   MEASURE     20566 non-null  object
 4   FREQUENCY   20566 non-null  object
 5   TIME        20566 non-null  int64
 6   Value       20566 non-null  float64
 7   Flag Codes  0 non-null      float64
dtypes: float64(2), int64(1), object(5)
memory usage: 883.8+ KB